@import "@shared/ui/styles/design-tokens.scss";

.horizontalDivider {
	width: 100%;
	height: 1px;
	min-height: 1px;
	background-color: $other-divider-default;
}
.verticalDivider {
	align-self: stretch;
	width: 1px;
	min-width: 1px;
	background-color: $other-divider-default;
}
